@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
}

<h2>服务操作</h2>


@using (Html.BeginForm("StartService", "Home", FormMethod.Post))
{
    @Html.TextBox("value")
    <input type="submit" value="启动服务" />
}
