@using System.Net.Mime
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
}

<h2>服务操作</h2>


@using (Html.BeginForm("StartService", "Home", FormMethod.Post))
{
  @:站点名称：  @Html.TextBox("SiteName")
@:绑定域名：  @Html.TextBox("BindDomain")
    <input type="submit" value="启动服务" />
}
